@font-face {
	font-family: 'Lyno Stan'; 
	src: local('Lyno Stan'),
		url(/fonts/LynoStan.otf); 
}
body {
  background: url('background.jpg');
  background-size: cover;
  background-attachment: fixed;
  -moz-user-select: none;

-webkit-user-select: none;

-ms-user-select: none;

-o-user-select: none;

user-select: none;
}
.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}
/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
  background-color: #000000;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block;}
.dropbtn {
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: #000000;
  color: #fff;
  padding: 8px 16px;
  font-size: 50px;
}
.body_hide {
  opacity: 0;
  transition: .9s opacity ease-in-out;
}
.body_visible {
  opacity: 1;
}
/* The alert message box */
.alert {
    padding: 20px;
    background: linear-gradient(135deg, #ff005d, rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    margin-bottom: 15px;
    border-radius: 15px;
    font-family: Lyno Stan;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    position: fixed;
    width: 500px;
    height: 205px;
    top: 480px;
    z-index: 1000;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: red;
}
.img-increase {
overflow:hidden;
width: 500px;
height: 500px;
}
.img-increase img {
transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
}
.img-increase img:hover{
transform: scale(1.1);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
}
.iframesite {
border: 100px;
}
.navbar{
  background: linear-gradient(135deg, #C59FAD, rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  height: 100px;

}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li{
  list-style: none;
  display: inline-block;

}
li a{
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  margin-right: 25px;
  border-radius: 10px; 
  padding: 10px;
}
.one{
  text-decoration: none;
}
.two{
  text-decoration: none;
}
.three{
  text-decoration: none;
}
.four{
  text-decoration: none;
}
.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  position: relative;
  left: -90px;
  top: 80px;
}
.bio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background: linear-gradient(135deg, #a07b8c78, #5a5353c1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 1400px;
    height: 600px;
    left: 20px;
    top: 500px;
}
.text{
  position: absolute;
  width: 900px;
  left: 470px;
  font-family: Helvetica;
  font-size: 24px;
  color: #1d1d1d;
}
.sophiepic{
  position: absolute;
  width: 30%;
  padding: 20px;
  border-radius: 30px;
  z-index: 1000;
}
.alert2 {
  background: linear-gradient(135deg, #000000, rgb(0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  border-radius: 10px;
  font-family: Lyno Stan;
  font-size: 50px;
  text-align: center;
  position: fixed;
  width: 98.9%;
  height: 98%;
  z-index: 10000;
}
/* The close button */
.closebtn2 {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 100px;
  cursor: pointer;
  transition: 0.3s;
  top: 560px;
  left: 5px;
}
/* When moving the mouse over the close button */
.closebtn2:hover {
  color: rgb(13, 255, 0);
}
.img-increase {
overflow:hidden;
width: 500px;
height: 500px;
}
.img-increase img {
transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
}
.img-increase img:hover{
transform: scale(1.1);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
}


@media (max-width: 375px) {
  .alert2{
    width: 355px;
    height: 640px;
    font-size: 10px;
    font-family: Arial;
  }
  .closebtn2{
    top: 200px;
    font-size: 60px;
  }
}
